<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet">
</head>
<body>

    <!-- Footer -->
    <footer class="bg-primary text-center text-white mt-4 py-3">
        <p>Copyright &copy; 2021 MyWebsite</p>
        <p>Follow us on:
            <a href="#" class="text-white">Facebook</a>,
            <a href="#" class="text-white">Twitter</a>,
            <a href="#" class="text-white">Instagram</a>
        </p>
    </footer>

    <!-- MDB -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
</body>
</html>
